.footer-div{
    background-color: rgb(16, 20, 45);
    padding-bottom: 30px;
    color: rgb(124, 253, 253);
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
}

h6{
    font-size: 13px;
    font-weight: 600;
}

h6:hover{
    cursor: pointer;
}
h5{
    font-weight: normal;
    font-size: 15px;
}